body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #5DEFA2; */
    /* background: linear-gradient(to bottom, white, #f0f0f0); */
    background: #f0f0f0;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    margin-top: 5px;
    height: 50px;
}

.nav-links a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    /* font-style: normal; */
    font-weight: 600;
}

.nav-links a:hover {
    color: #6AD69C;
}

.nav-links .sign-up {
    
    border: 4px solid #88e4b3;
    border-radius: 90px;
    /* border-width: 10px; */
    /* border-color: #1a1abf; */
    background-color: #6AD69C;

    /* background-color: #007BFF; */
    color: white;
    padding: 10px 20px;
    /* border-radius: 5px; */

    /* color: #FFF; */
    text-align: center;
    /* font-family: Inter; */
    /* font-size: 30px; */
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.nav-links .sign-up:hover {
    background-color: #58c38a;
    color: white;
}


@media (max-width: 600px) {
    .nav-links {
        display: none;
    }
    .navbar {
        justify-content: center;
    }
}

footer {
    background-color: #3ec57d;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
