* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif; 
    background: linear-gradient(180deg, #60C8FF 0%, #4EF59B 66.5%);
    background-attachment: fixed;  /* ensures the background doesn't scroll with the content */
    height: 100%;  
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.logo {
    width: 100%;
    max-width: 250px; 
    margin: 0 auto; 
    /* padding-bottom:5px; */
    display: block;
}

.card {
    background: #FFF;
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 610px;
    min-height: 300px;
    border: 10px solid rgba(209, 201, 201, 0.39);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    overflow-y: auto;
}

input, .btn {
    width: 100%;
    max-width: 360px;
    padding: 10px;
    margin-top: 5px;
}


.verification-message {
    padding-bottom: 1px;
    font-size: 20px; 
}

.verification-message p:last-child {
    margin-bottom: 15px;
}

.verification-message .email-display {
    color: #60C8FF;         
}

.verification-message a.resend-email {
    color: #60C8FF; 
    text-decoration: none; 
}

.verification-message a.resend-email:hover {
    color: #409ABF; 
}

.btn {
    height: 50px;
    border-radius: 50px;
    background-color: #6AD69C;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 10px 20px;

    border: 5px solid #81b2efab;
    background: #60C8FF;
}

.btn:hover {
    background-color: #4FA7DF;
}

.back-link-container {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1000;
}

.back-link {
    color: white;
    font-size: 19px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 8px;
    border-radius: 5px;
}

.back-link:hover {
    background: rgba(0, 0, 0, 0.2);
}
