<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leafcards : Grow Knowledge</title>
    <link rel="icon" type="image/png" href="..\assets\images\favicon.png"> <!-- update path to favicon-->
    <link rel="stylesheet" href="..\assets\css\index-styles.css"> <!-- update path to css-->
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img src="..\assets\images\landing_logo.png" alt="Logo">
            </div>
            <div class="nav-links">
                <a href="Discover.html">Discover</a>
                <a href="MyLeafsets.html">My Leafsets</a>
                <a href="Login.html">Login</a>
                <a href="SignUp.html" class="sign-up">Sign Up</a>  <!-- Added a class for potential special styling -->
            </div>
        </div>
    </header>
    <main>
        <!-- Main content -->
        <section id="home">
            <h2>Welcome to LeafCards</h2>
            <p>Start learning today with our interactive flashcards.</p>
        </section>
    </main>

    <footer>
        <p>Copyright © 2024 LeafCards. All rights reserved.</p>
    </footer>
</body>
</html>
