<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Leafcards</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/favicon.png')}}"> <!-- update path to favicon-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/leafsent-styles.css')}}"> <!-- update oath to signup-styles -->
</head>
<body>
    
    <main>
        <div class="signup-container">
            <div class="card"> 
                <img src="{{url_for('static',filename='images/leafsent.png')}}" alt="Logo" class="logo"> <!-- update path to leafsent in images -->
                <div class="verification-message"> 
                    <p> 
                        <b>Thank you for signing up!</b><br>
                        A verification email has been<br>
                        sent to <span id="user-email" class="email-display">email@example.com</span><br>
                        Please click the link in the email to activate your account.
                    </p>
                    <p>
                        <b>Didn’t receive the email?</b><br>
                        Double check your spam folder<br>
                        or <a href="#" class="resend-email">resend the verification email</a>
                    </p>
                </div>
                <button type="submit" class="btn">Authenticate</button>
                
            </div>
        </div>
        <div class="back-link-container"> <!-- container for the Back to Main-->
            <a href="index.html" class="back-link">← Back to Main</a> <!-- update path to index.html-->
        </div>
    </main>

</body>
</html>
