<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Leafset - Leafcards</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/seeLeafset-styles.css')}}">
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/favicon.png')}}">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/landing-upon-login">
                    <img src="{{url_for('static',filename='images/landing_logo.png')}}" alt="Logo">
                </a>
            </div>
            <div class="nav-links">
                <a href="/discover">Discover</a>
                <a href="/MyLeafsets">My Leafsets</a>
                <a href="/settings">Settings</a>
            </div>
        </div>
    </header>
    <main>
        <div class="create-leafset">
            <h1>Edit Existing Leafset</h1>
            <form>
                <label for="leafsetName"></label>
                <input type="text" id="leafsetName" name="leafsetName" class="form-boxes" value="Biology 101" placeholder="Name of the Leafset">
    
                <label for="leafsetLabel"></label>
                <input type="text" id="leafsetLabel" name="leafsetLabel" class="form-boxes" value="Biology" placeholder="Enter a label e.g., Biology, Spanish, History">
    
                <div class="flashcards-container" id="flashcardsContainer">
                    <!-- Flashcard input pairs will be dynamically inserted here -->
                </div>

                <div class="public-button">
                    <input type="checkbox" id="publicOption" name="visibility" value="public" class="checkbox-public">
                    <label for="publicOption">Public</label>
                </div>     
    
                <button type="button" class="add-btn" id="addCardBtn">Add Flashcard</button>
                <button type="submit" class="save-btn" id="saveBtn">Save Changes</button>
                <button type="button" class="delete-btn" id="deleteBtn">Delete Leafset</button>
            </form>
        </div>
    </main>
    
    

    <!-- Footer -->
    <footer>
        © 2024 Leafcards by LinkedLeaves
    </footer>

    <script src="{{url_for('static',filename='js/see.js')}}"></script>
</body>
</html>
