<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - Leafcards</title>
    <link rel="stylesheet" href="..\static\css\settings-styles.css">
    <link rel="icon" type="image/png" href="..\static\images\favicon.png">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="landing-upon-login.html">
                    <img src="..\static\images\landing_logo.png" alt="Logo">
                </a>
            </div>
            <div class="nav-links">
                <a href="discover.html">Discover</a>
                <a href="MyLeafsets.html">My Leafsets</a>
                <a href="settings.html">Settings</a>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="settings-container">
            <h1>Settings Dashboard</h1>
            <form id="settingsForm">
                <ul class="settings-list">
                    <li><button id="changeUsernameBtn" class="buttons">Change Username</button></li>
                    <div id="usernameChangeContainer" style="display: none;">
                        <input type="text" id="username" name="username" class="form-boxes" placeholder="New Username">
                        <button class="submit-btn">Submit</button>
                    </div>
                    
                    <li><button id="changePasswordBtn" class="buttons">Change Password</button></li>
                        <div id="passwordChangeContainer" style="display: none;">
                            <input type="password" id="oldPassword" name="oldPassword" class="form-boxes" placeholder="Old Password" required>
                            <button class="submit-btn">Submit</button>
                            <input type="password" id="newPassword" name="newPassword" class="form-boxes" placeholder="New Password" required disabled>
                            <button class="submit-btn">Submit</button>
                        </div>

                    
                    <li><button id="changeEmailBtn" class="buttons">Change Email</button></li>
                    <div id="emailChangeContainer" style="display: none;">
                        <input type="text" id="email" name="email" class="form-boxes" placeholder="New Email Address">
                        <button class="submit-btn">Submit</button>
                    </div>
                    
                    <li><button onclick="alert('Log Out functionality not implemented')"  class="buttons">Log Out</button></li>
                    <li><button class="danger-zone" onclick="alert('Delete Account functionality not implemented')">Delete Account</button></li>
                </ul>
            </form>
        </div>
    </main>
    <footer>
        © 2024 Leafcards by LinkedLeaves
    </footer>
</body>
<script src="..\static\js\settings-script.js"></script>
</html>
