<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - Leafcards</title>
    <link rel="stylesheet" href="..\assets\css\settings-styles.css">
    <link rel="icon" type="image/png" href="..\assets\images\favicon.png">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="landing-upon-login.html">
                    <img src="..\assets\images\landing_logo.png" alt="Logo">
                </a>
            </div>
            <div class="nav-links">
                <a href="discover.html">Discover</a>
                <a href="MyLeafsets.html">My Leafsets</a>
                <a href="settings.html">Settings</a>
                <!-- <a href="signup.html" class="sign-up">Sign Up</a> -->
            </div>
        </div>
    </header>
    <main class="main">
        <div class="settings-container">
            <h1>Settings Dashboard</h1>
            <ul class="settings-list">
                <li><button onclick="alert('Change Username functionality not implemented')">Change Username</button></li>
                <li><button onclick="alert('Change Email functionality not implemented')">Change Email</button></li>
                <li><button onclick="alert('Log Out functionality not implemented')">Log Out</button></li>
                <li><button class="danger-zone"onclick="alert('Delete Account functionality not implemented')">Delete Account</button></li>
            </ul>
        </div>
    </main>
    <footer>
        © 2024 Leafcards by LinkedLeaves
    </footer>
</body>
</html>
